<div class="row">
  <div class="col-md-2">
    <h2><%= @user.first_name %> </h2>
    <img src="https://graph.facebook.com/<%= @user.uid %>/picture?type=normal">
  </div>
  <div class="col-md-5">
    <h2>Your games</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <th>Game Owner</th>
        <th>Your current word</th>

        <th>Action</th>
        </thead>
        <tbody>
        <% @gamesessions.each do |game| %>
          <tr>
            <td><%= "#{game.first_name} #{game.last_name}"%></td>
            <td><%= game.word %></td>
            <td><a href="/games/<%= game.id %>" class="btn btn-success">Enter Game</a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5">
    <h2>Game invitations</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <th>Game Id</th>
        <th>Action</th>
        </thead>
        <tbody>
          <% @gameinvites.each do |i| %>
            <td><%= i.game_id %></td>
            <td><%= form_tag("/gamesessions/#{i.id}", method: :put) do %>
              <%= hidden_field_tag :joined, true %>
              <%= submit_tag 'Accept',:class => 'btn btn-success' %>
              <%- end -%></td>
            <td><%= form_tag("/gamesessions/#{i.id}", method: :put) do %>
              <%= hidden_field_tag :joined, false %>
              <%= submit_tag 'Ignore',:class => 'btn btn-primary' %>
              <%- end -%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5">
      <h2>Create a game</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <th>Game name</th>
          <th>Number of players</th>
          <th>Action</th>
          </thead>
          <tbody>
            <tr>
              <%= form_for Game.new do |f| %>
                <td>
                  <%= f.text_field "name" %>
                </td>
                <td>
                  <%= f.text_field "players" %>
                </td>
                <td>
                  <%= f.submit "Create!", :class => 'btn btn-success' %> 
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
<<<<<<< HEAD
    <%= render partial: 'invitation' %>
  </div>
<<<<<<< HEAD
  <%= render partial: 'invitation' %>
  <a href="/sign_out" class="btn btn-primary">Sign out</a>
=======


>>>>>>> d8163b89cd8a2cae57cecd5e35cfd7ceedf362c3
=======
>>>>>>> c2f6c2940e1c2bf6bef25c28c912745dbd7ab655
</div>