<div class="container game_container">
  <%= form_tag("/gamesessions/#{@current_user_session.id}", method: :put) do %>
    <%= text_field_tag :word, nil, class: 'wordCreate', :placeholder => "Type your word" %>
    <%= submit_tag 'Enter your word!', :class => 'btn btn-success enter_word' %>
    <%= form_tag("/games/#{@game.id}", method: :put) do %>
      <%= hidden_field_tag :word, @word %>
      <%= hidden_field_tag :round_open, 0 %>
      <%= submit_tag 'Start round', :class => 'btn btn-primary start_game' %>
    <% end %>
  <% end %>



</div>
