<div id="player_circle">
  <p class="center_marker"><%= @word %></p>
  <script type="text/javascript">

    var number_players = <%= @game.players %>
    // create_player_circle(number_players)
    var users = <%= raw @players.to_json %>
    player_circle(number_players, users)
    function player_circle(no_players, users) {
      var x_center = $(".center_marker").position().left;
      var y_center = $(".center_marker").position().top;
      var items = no_players;
      var r = x_center / 2
      for (var i = 0; i < items; i++) {
        if (users.length >= i + 1) {
          var user = users[i]
        }
        var x = x_center + r * Math.cos(2 * Math.PI * i / items);
        var y = y_center + r * Math.sin(2 * Math.PI * i / items);
        var player_outer_wrapper = $("<div/>", {"class": "player_outer_wrapper"});
        if (user) {
          var player_caption = $("<p/>", {"text": user.first_name, "class": "player_caption"});
          var player_word = $("<p/>", {"text": user.word, "class": ""});
          var player_img = $("<img/>", {"src":"https://graph.facebook.com/" + user.uid + "/picture?type=large", "class":"player_img"});
        }
        else {
          var player_caption = $("<p/>", {"text": "Empty seat", "class": "player_caption"});
          var player_img = $("<img/>", {"src":"https://www.irononsticker.com/images/2013/09/14/NUDE%20GIRLS%20SILHOUETTE%20T%20SHIRT%20IRON%20ON%20TRANSFER.png", "class":"player_img"});
          var player_word = ''
        }
        $(player_outer_wrapper).css("top", y + "px").css("left", x + "px");
        ;
        var player_wrapper = $("<div/>", {"class": "player_wrapper"});
        $(player_wrapper).append(player_img)
        $(player_outer_wrapper).append(player_wrapper).append(player_caption).append(player_word);
        $("#player_circle").append(player_outer_wrapper);
        user = undefined
      };
    };
  </script>

<div>
  <%= form_tag("/gamesessions/#{@current_user_session.id}", method: :put) do %>
    <%= text_field_tag :word%>
    <%= submit_tag 'Enter your word!',:class => 'btn btn-success' %>
  <% end %>
</div>


</div>




