<div id="player_circle">
  <div class="center_marker">
  </div>


<script type="text/javascript">
  var game_word = "<%= @word%>"
  var number_players = <%= @game.players %>
  var users = <%= raw @players.to_json %>
  var game = <%= raw @game.to_json %>
  player_circle(number_players, users, game_word, game)
  function player_circle(no_players, users, game_word, game) {
    var game = game
    var game_word = game_word
    var x_center = $(".center_marker").position().left;
    var y_center = $(".center_marker").position().top;
    var items = no_players;
    var r = x_center / 2
    for (var i = 0; i < items; i++) {
      if (users.length >= i + 1) {
        var user = users[i]
      }
      var x = x_center + r * Math.cos(2 * Math.PI * i / items);
      var y = y_center + r * Math.sin(2 * Math.PI * i / items);
      var player_outer_wrapper = $("<div/>", {"class": "player_outer_wrapper"});
      if (user) {
        var player_caption = $("<p/>", {"text": user.first_name, "class": "player_caption"});
        var player_word = $("<p/>", {"text": "Your word: " + user.word, "class": ""});
        var player_img = $("<img/>", {"src":"https://graph.facebook.com/" + user.uid + "/picture?type=large", "class":"player_img"});
      }
      else {
        var player_caption = $("<p/>", {"text": "Empty seat", "class": "player_caption"});
        var player_img = $("<img/>", {"src":"https://cdn4.iconfinder.com/data/icons/gambling-2/100/3-512.png", "class":"player_img"});
        var player_word = ''
      }
      $(player_outer_wrapper).css("top", y + "px").css("left", x + "px");
      ;
      var player_wrapper = $("<div/>", {"class": "player_wrapper"});
      $(player_wrapper).append(player_caption).append(player_img).append(player_word)
      $(player_outer_wrapper).append(player_wrapper);
      $("#player_circle").append(player_outer_wrapper);
      user = undefined
    }
    if (game.round_open == 1) {
      $("#center_word").text()
      $('.enter_word').attr("disabled", false)
      $('.start_game').attr("disabled", false)
      $('.loser').attr("disabled", true)
    }
    else {
      $("#center_word").text(game_word)
      $('.enter_word').attr("disabled", true)
      $('.start_game').attr("disabled", true)
      $('.loser').attr("disabled", false)
    }
  };

  var word = "<%= @word %>"
  $('#post_giphy').on("click", function (e) {
    e.preventDefault(); //It fires ajax, but it prevents next "start round"
    var url = "//api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=";
    var gif_url = (url + word);
    $.getJSON(gif_url)
        .success(function (response) {
          var result = response.data.image_original_url;
          $.post('/giphys', {gifurl: result})
              .success(function () {
                alert("Giphy posted! Please check your Facebook wall:)");
              });
        });
  });
    
</script>
</div>

