<div class="container">
  <div class="playing-cricle">
    <%= link_to 'Back to your profile', current_user %>
    <%= render 'player_circle' %>
  </div>
  <div>

    <%= form_tag invites_path, method: :post do %>
      <%= text_field_tag :email, nil, placeholder: "User email" %>
      <%= hidden_field_tag :game_id, @game.id %>
      <%= submit_tag "Invite user" %>
    <% end %>
  </div>
</div>
